accelerate==0.29.3
acme==1.21.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.7.6.dev0
amqp==5.0.9
annotated-types==0.7.0
anyio==3.6.2
anyjson==0.3.3
appdirs==1.4.4
apt-xapian-index==0.49
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
asttokens==2.2.1
async-timeout==4.0.3
attrs==21.2.0
Automat==20.2.0
automaton==2.4.0
autopage==0.4.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bitsandbytes==0.43.1
bleach==6.0.0
blinker==1.4
bottle==0.12.19
Bottleneck==1.4.0
Brlapi==0.8.3
Brotli==1.0.9
cachetools==5.0.0
castellan==3.10.0
certbot==1.21.0
certbot-nginx==1.21.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
chrome-gnome-shell==0.0.0
clang==14.0
click==8.0.3
cliff==3.10.0
cloud-init==25.1.2
cmd2==0.0.0
cognitive-complexity==1.3.0
colorama==0.4.4
comm==0.1.2
command-not-found==0.3
complexipy==0.4.0
ConfigArgParse==1.5.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
cupshelpers==1.0
cursive==0.2.2
cycler==0.11.0
Cython==3.0.11
datasets==2.19.0
dbus-python==1.2.18
ddt==1.4.2
debtcollector==2.3.0
debugpy==1.6.6
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
deprecation==2.0.7
dill==0.3.8
distlib==0.3.6
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.1.0
docker==5.0.3
docstring_parser==0.16
docutils==0.17.1
dogpile.cache==1.1.4
duplicity==0.8.21
emoji==1.2.0
et-xmlfile==1.0.1
evdev==1.4.0
eventlet==0.30.2
executing==1.2.0
extras==1.0.0
fasteners==0.14.1
fastjsonschema==2.16.2
filelock==3.9.0
fixtures==3.0.0
fonttools==4.29.1
formulaic==1.0.2
frozenlist==1.5.0
fs==2.4.12
fsspec==2024.3.1
fuse-python==1.0.2
future==0.18.2
futurist==2.4.0
galternatives==1.0.8
gast==0.5.2
GDAL==3.4.1
glance==24.2.1
glance-store==3.0.0
Glances==3.2.4.2
gpg==1.16.0
graphviz==0.14.2
greenlet==1.1.2
h11==0.14.0
hijra==1.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httpx==0.27.2
huggingface-hub==0.26.2
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
incremental==21.3.0
influxdb==5.3.1
iniconfig==1.1.1
input-remapper==2.0.1
interface-meta==1.3.0
ipykernel==6.21.2
ipython==8.10.0
ipython_genutils==0.2.0
ipywidgets==8.0.4
iso8601==1.0.2
jdcal==1.0
jedi==0.18.2
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
josepy==1.10.0
jsonpatch==1.33
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.5.1
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keyring==23.5.0
keystoneauth1==4.4.0
keystonemiddleware==9.4.0
kiwisolver==1.3.2
kombu==5.2.3
kss==4.4.0
langchain==0.3.8
langchain-core==0.3.21
langchain-ollama==0.2.0
langchain-text-splitters==0.3.2
langsmith==0.1.145
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
linearmodels==6.1
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
meteo_qt==2.1
mistune==2.0.5
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
msgpack==1.0.3
multidict==6.1.0
multiprocess==0.70.16
munch==2.5.0
mutagen==1.45.1
mypy-extensions==1.0.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
netaddr==0.8.0
netifaces==0.11.0
networkx==2.4
nftables==0.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.55.1
numexpr==2.8.4
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
ollama==0.4.1
openpyxl==3.0.9
openstacksdk==0.61.0
orjson==3.10.12
os-brick==5.2.2
os-service-types==1.7.0
os-win==5.5.0
oslo.cache==2.9.0
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.db==11.2.0
oslo.i18n==5.1.0
oslo.limit==1.5.0
oslo.log==4.6.1
oslo.messaging==12.13.0
oslo.metrics==0.4.0
oslo.middleware==4.5.0
oslo.policy==3.11.0
oslo.privsep==2.7.0
oslo.reports==2.3.0
oslo.rootwrap==6.3.1
oslo.serialization==4.2.0
oslo.service==2.8.0
oslo.upgradecheck==1.5.0
oslo.utils==4.12.2
oslo.vmware==3.10.0
osprofiler==3.4.2
packaging==24.2
pandas==2.2.0
pandocfilters==1.5.0
paramiko==2.9.3
parsedatetime==2.6
parso==0.8.3
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
patsy==0.5.6
pbr==5.8.0
pecab==1.0.8
peft==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipdeptree==2.2.0
platformdirs==3.0.0
pluggy==0.13.0
ply==3.11
prettytable==2.5.0
prometheus-client==0.9.0
prompt-toolkit==3.0.36
propcache==0.2.0
protobuf==3.12.4
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pyarrow==18.0.0
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.1
pybind11==2.9.2
pycadf==3.1.1
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pydantic==2.10.1
pydantic_core==2.27.1
pydbus==0.6.0
Pygments==2.18.0
PyGObject==3.42.1
PyHamcrest==2.0.2
pyhdfe==0.2.0
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pylibacl==0.6.0
pymacaroons==0.13.0
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pysmi==0.3.2
pysnmp==4.4.12
pystache==0.6.0
pytest==6.2.5
python-apt==2.4.0+ubuntu4
python-barbicanclient==5.2.0
python-cinderclient==8.3.0
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-glanceclient==3.6.0
python-json-logger==2.0.6
python-keystoneclient==4.4.0
python-magic==0.4.24
python-memcached==1.58
python-pam==1.8.4
python-swiftclient==3.13.1
python-xapp==2.2.1
python-xlib==0.29
pythran==0.10.0
pytz==2022.1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2022.10.31
reportlab==3.6.8
repoze.lru==0.7
requests==2.25.1
requests-toolbelt==1.0.0
requestsexceptions==1.4.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.2
roman==3.3
Routes==2.5.1
safetensors==0.4.5
scipy==1.8.0
scour==0.38.2
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
semantic-version==2.8.5
Send2Trash==1.8.0
service-identity==18.1.0
setproctitle==1.2.2
setuptools-scm==8.1.0
shellingham==1.5.4
shtab==1.7.1
simplegeneric==0.8.1
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
sos==4.8.2
soupsieve==2.3.1
SQLAlchemy==1.4.31
sqlalchemy-migrate==0.13.0
SQLAlchemy-Utils==0.37.8
sqlparse==0.4.2
ssh-import-id==5.11
stack-data==0.6.2
statsd==3.3.0
statsmodels==0.14.4
stevedore==3.5.0
suds-community==1.0.0
sympy==1.9
systemd-python==234
tables==3.7.0
taskflow==4.6.4
Tempita==0.5.2
tenacity==9.0.0
terminado==0.17.1
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
tinycss==0.4
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.2
torch==1.13.1
tornado==6.2
tqdm==4.66.6
traitlets==5.9.0
transformers==4.40.1
trl==0.8.6
Twisted==22.1.0
typer==0.12.5
typing_extensions==4.12.2
tyro==0.8.14
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unittest2==1.1.0
urllib3==1.26.5
usb-creator==0.3.7
vine==5.0.0
virtualenv==20.19.0
wadllib==1.3.6
warlock==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
WebOb==1.8.6
websocket-client==1.2.3
websockets==9.1
widgetsnbextension==4.0.5
wrapt==1.13.3
WSME==0.11.0
xdg==5
xkit==0.0.0
xlrd==1.2.0
xlwt==1.3.0
xxhash==3.5.0
yarl==1.17.1
yt-dlp==2022.4.8
zipp==1.0.0
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
